{{ partial "head.html" . }}

<div class="container marketing">
    <div class="row">
        <div class="col-12">
            <h1>Adapt Gift</h1>
            <h2>Hosted Gift Cards for Dinerware, Termials, and whatever life brings you.</h2>
        </div>
    </div>
    <hr />
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Room to grow</h2>
            <p>Starting small is smart! Our software is so flexible that you can add a station in less than 10 minutes
                or
                rent a station for an entire event. The AdaptGift is expandable to unlimited locations and adding
                another
                location is as easy as setting up the software, licensing it, and starting to process.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-credit-card fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Speeds Up Transaction Times</h2>
            <p>Gift Transactions are a simple 3-step process. This is very important for busy bar scenes or mobile food
                trucks. Your customers are busy and they want great service and great food. Our software helps you give
                fast
                payments also!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Bring Your Existing Cards</h2>
            <p>Unsatisfied with your current gift card provider? We can import
                your existing card information, and use the cards you already have. </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-chart-bar fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Real-time Liability Reporting</h2>
            <p>The AdaptGift Software allows you to track everything — most importantly your liability of outstanding
                gift balances. By tracking your inventory sold (liability), and getting easy-to-read reporting, you can
                clearly see where your finances are at anytime.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-wifi fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Integrated into Popular Terminals</h2>
            <p>AdaptGift is already integrated into our own line of terminal devices, as well as the Dejavoo Z series of
                payment devices.</p>
        </div><!-- /.col-lg-4 -->
    </div>
</div><!-- /.row -->

<hr />

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.
        It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Paid</h4>
                <p>Per-Location / Per-Month</p>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$35 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Works with Dinerware, First Data, or Harbortouch POS</li>
                    <li>Integrated, so it's seamless</li>
                    <li>Fast Transactions</li>
                    <li>Great Reporting</li>
                    <li>Full control of your data</li>
                    <li>Pre-load cards without using your point-of-sale system</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
                <p>with Adapt Merch. Svcs Account</p>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Everything the paid version offers</li>
                    <li>Great processing rates at 2.6% Effective Rate</li>
                    <li>One support number for both products</li>
                    <li>Call for more information</li>
                    <li><a href="http://www.adaptms.com/">Adapt Merchant Services</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}